@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');

body { font: 11px/25px 'Lato', sans-serif; }

nav a { text-decoration: none; }

h1,h2 { color: #1BAAC0; }







