body{
    background: #333;
    color: white;
    font: 12px Arial;
    height: 900px;
    /* margin: 0; */
    /* padding: 0; */
}
div{
    background: yellow;
    height: 50px;
    left: 0;
    top: 0;
    width: 50px;
}

.absolutos{
    position:absolute;
}

.segundo{
    background-color: lightgreen;
    left: 50px;
    top: 50px;
}

.tercero{
    background-color: lightblue;
    left: 100px;
    top: 100px;
}

.cuarto{
    background-color: black;
    left: 150px;
    top: 150px;
}
.quinto{
    background-color: red;
    left: 200px;
    top: 200px;
}
