div{
    background: yellow;
    height: 50px;
    left: 0;
    top: 0;
    width: 50px;
}

.absolutos{
    position:absolute;
}

.segundo{
    background-color: lightgreen;
}

.tercero{
    background-color: lightblue;
}

.cuarto{
    background-color: black;
}

/* Relativos */

.relativos{
    position: relative;
}
