div{
    background: black;
    color: white;
    font-size: 12px;
    height: 50px;
    left: 0;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 50px;
}

#tres{
    /* left: 20px; */
    z-index: 2;
}
#uno{
    background: cornflowerblue;
    /* left: 40px; */
    z-index: 3;
}
#dos{
    background: limegreen;
    z-index: 1;
}
