div{
    background-color: pink;
    width: 200px;
    height: 300px;
    border-width: 30px;
    border-style: groove;
    /* border-top-style: solid; */

    /* border-style: dotted; */
    border-color: cornflowerblue;
}
