*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
body{
    font: 12px 'Source Sans Pro', sans-serif;
}
#encabezado{
    width: 100%;
    height: 800px;
    background-color: #666;
    background-image: url(img/fondo.jpg);
}
