@import url('https://fonts.googleapis.com/css?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    /* font: 12px 'Nosifer'; */
    /* font-family: 'Nosifer', cursive; */
}
body{
    font: 24px 'Nosifer', cursive;
    /* font-family: 'Nosifer', cursive; */


}
#encabezado{
    width: 100%;
    height: 800px;
    background-color: #666;
    background-image: url(img/fondo.jpg);
}
div p{
    font-family: 'Nosifer', cursive;
}
