body{
    counter-reset: titulos;
}
section p::before{
    content: url(../imagenes/star.png);
}
section p::after{
    content: '.';
    color: red;
    font-size: 20px;
}
section h2 {
    counter-increment: titulos;
}
section h2::before{
    content: 'Servicio ' counter(titulos);
    color: cornflowerblue;
    text-transform: uppercase;
}
