/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


ul{
    list-style-position:  inside;
    list-style-type: circle;
    /*outside*/
}
ol{
    list-style-type: decimal-leading-zero;
}
