@import url('https://fonts.googleapis.com/css?family=Oswald|Spectral+SC&display=swap');

*{
    box-sizing: border-box;
    color: #F00;
    margin: 0;
    padding: 0;
}
a{
    color: cornflowerblue;
}
p{
    color: #A0A9A9;
}
body{
    color: #333;
    font: 100% 'Spectral SC', serif;
}
h2, h1{
    color: lightgreen;
    font-family: 'Oswald', sans-serif;
}
h1{
    color: white;
}
main{
    color: #666;
    display: flex;
    padding: 20px;
    width: 900px;
}
section{
    background-color: coral;
    color: black;
}
