body{
    background: #333;
    color: white;
}
.svg{
    background-image: url(contact.svg);
    width: 60px;
    height: 60px;

}
.png{
    background-image: url(contact48.png);
    background-repeat: no-repeat;
    width: 128px;
    height: 128px;
    border: 1px solid red;

}
